@page "/"
@inject HttpClient HttpClient

<h1>Ola, Web API!</h1>

Bem vindos a pagina de teste de Desenvolvimento.

<br>

<label>Url:</label>
<div>
    <input type="text" @bind="strURL" />
</div>

<button class="btn btn-primary" @onclick="InvocarAPI">Executar</button>
<button class="btn btn-primary" @onclick="Limpar">Limpar</button>

<br>
<br>
<br>

<label>Resposta:</label>
<div class="alert-info">
    <h2> @Resposta </h2>
</div>


@code
{
    [Parameter] public String strURL { get; set; }
    private String Resposta;
    /*
    protected override async Task OnInitializedAsync()
    {
      var str = await requisicaoHttp.Get<string>("sample-data/weather.json");
    }
    */

    private async void InvocarAPI()
    {
        var resp = await HttpClient.GetAsync(strURL);
        
        Resposta = await resp.Content.ReadAsStringAsync().ConfigureAwait(false);
        StateHasChanged();
    }

    private void Limpar()
    {
        strURL = "";
        Resposta = "";

    }


}
